{% extends "../../siscaf/templates/home.html" %}
{% block body %}

 {% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
      </div>
 {% endif %}
  
          <form action="{% url 'cadastrar_turma' %}" method="post">
            {% csrf_token %}

            <div class="form-group"> 
              <div class="form-row">
                <div class="col-md-3">          
                  <label  for="inputNome">Nome da Turma</label>
                  <input name="nome" type="text" class="form-control" id="inputNome" aria-describedby="nameHelp" placeholder="Digite o nome da turma">
                  </div>
              
                <div class="col-md-3">   
                  <label  for="inputCurso">Nome do Curso</label>
                  <input name="curso" type="text" class="form-control" id="inputCurso" aria-describedby="nameHelp" placeholder="Digite o nome do Curso da turma">
                  </div>

                  <div class="col-md-3"> 
        	<button class="btn btn-primary btn-block" type="button" id="adicionar" data-toggle="modal" data-target="#exampleModal" >Adicionar Aluno</button>
                  </div>
              </div>
              </div>
            <button class="btn btn-primary btn-block" type="submit" >Cadastrar</button>
          
          </form>


    <!-- Logout Modal -->
    <div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-table"></i> Alunos Cadastrados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

         	<!-- Example Tables Card -->
				<div class="card mb-3">

					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" width="100%" id="dataTable"
								cellspacing="0">
								<thead>
									<tr>
										<th>Nome</th>
										<th>CPF</th>
										<th>Matricular</th>

									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Nome</th>
										<th>CPF</th>
										<th>Matricular</th>

									</tr>
								</tfoot>
								<tbody id="tabela-corpo">

									{% for aluno in alunos %}
										<tr>

											<td>{{aluno.nome}}</td>
											<td>{{aluno.cpf}}</td>

										</tr>
									{% endfor %}

								</tbody>
							</table>
							<div>
       							 <input class="btn btn-success" type="submit" value="Salvar" />
   							 </div>
						</div>
					</div>
					<div class="card-footer small text-muted"></div>
				</div>

          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="/siscaf/turma/cadastrarAluno" method="post">
            	<button type="submit" class="btn btn-primary" >Logout</button>
            </form>


          </div>
        </div>
      </div>
    </div>


   

   



{% endblock %}