{% extends "base_aluno.html" %}
{% block body %}


  
          <form action="/siscaf/aluno/cadastrar" method="post">
            <div class="form-group">           
                  <label  for="inputNome">Nome Completo</label>
                  <input name="nome" type="text" class="form-control" id="inputNome" aria-describedby="nameHelp" placeholder="Digite o nome completo">           
              </div>
              
         
        	
        	<div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="inputCPF">CPF</label>
                  <input name="cpf" type="number" class="form-control" id="inputCPF" placeholder="Digite o CPF">
                </div>
                <div class="col-md-6">
                  <label for="inputRG">RG</label>
                  <input name="rg" type="number" class="form-control" id="inputRG" placeholder="Digite o RG">
                </div>
              </div>
            </div>
            
               <div class="form-group">
            	<div class="form-row">
            		<div class="col-md-6">
						<label  for="inputSexo">Sexo</label>
						<select id="inputSexo" name="sexo" class="form-control">
 			 				<option>Masculino</option>
  							<option>Feminino</option>
  			
						</select>
					</div>
            	
             		<div class="col-md-6">
            			<label  for="inputCurso">Curso</label>
        				<select id="inputCurso" name="curso" class="form-control">
 			 				<option>Técnico em Mecânica</option>
  							<option>Técnico em Eletrotécnica</option>
  			
						</select>
					</div>
					
		 			
              </div>
			</div>
        	
        	
        
            <div class="form-group">
              <label for="exampleInputEmail1">Endereço</label>
              <input name="endereco" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Digite o Endereço">
            </div>
            
           <div class="form-group">
              <label for="inputEmail">Email </label>
              <input name="email" type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Digite o email">
            </div>
            
            <div class="form-group">
	            <div class="form-row">
	           		 <div class="col-md-6">
		             
			              <label for="inputCelular">Celular</label>
			              <input name="celular" type="text" class="form-control" id="inputCelular"  placeholder="Digite o numero do celular">
		           </div>
		           <div class="col-md-6">
		             
			              <label for="inputTelefoneFixo">Telefone Fixo</label>
			              <input name="telefoneFixo" type="text" class="form-control" id="inputTelefoneFixo"  placeholder="Digite o numero do telefone fixo">
		           </div>
	            </div>
            </div>
         
            
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="inputSenha">Password</label>
                  <input name="senha" type="password" class="form-control" id="inputSenha" placeholder="Password">
                </div>
                <div class="col-md-6">
                  <label for="inputSenha1">Confirm password</label>
                  <input type="password" class="form-control" id="inputSenha1" placeholder="Confirmar password">
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" >Cadastrar</button>
          
          </form>


    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

   



{% endblock %}